
* {
    -color : #efefef;
    -white : #efefef;
    -gray : #dfdfdf;
    -darkGray : derive(-gray,-25%);
    -blacks : #444444dd;
    -abort : #e74c3c;
    -black : #000000
/*
*/

}

.root{
    -fx-background-color : #fffffe;
    -fx-fill-width : true;
    -fx-color : -color;
    -fx-fill-height : true;
    -fx-font-family: 'Calibri';
    /* remove the ugly focus shade */
    -fx-focus-color : transparent;
    -fx-faint-focus-color: transparent;
}

/*
 * **********
 * LABELS
 * **********
*/
.label{
     -fx-text-fill : #8e8e8e;
     -fx-font-size : 18;
     -fx-font-weight : lighter;
     -fx-font-family : 'Calibri';
     -fx-font-style : oblique;
     -fx-text-fill: black;
     -fx-padding : 12 4 4 4;
 }

/*
 * **********
 * BUTTONS
 * **********
 * 
 */
.button {
    
    -fx-font-size : 15;
    -fx-font-weight : Normal;
    -fx-font-family : 'Times New Roman';
    -fx-font-style : normal;
    -fx-padding : 4 8 4 8;
    -fx-text-fill : #ffffff;
}

.button:default{
    -fx-background-color : #c0c0c0;
}
.button:cancel{
    -fx-background-color : -abort;
}


}
.button:hover {
    -fx-color: -darkGray;
    -fx-inner-border : -darkGray;
    -fx-body-color : -darkGray;
}

.button:armed {
    -fx-color: -white;
}

.toggle-button{
    -fx-background-color : -gray;
}

.toggle-button:selected{
    -fx-background-color : -darkGray;
}

.menu-button{
    -fx-background-color : -gray;
}

.split-menu-button{
    -fx-background-color : -gray;
}

.split-menu-button>*.label{
    -fx-background-color : -gray;
}

.split-menu-button>*.arrow-button{
    -fx-background-color : -gray;
}
 
 
/*
 * **********
 * Text fields / inputs
 * **********
 * 
 */
.text-field{
    -fx-highlight-fill : -color;
    -fx-highlight-text-fill : -white;
}

.text-area{
    -fx-highlight-fill : -color;
    -fx-highlight-text-fill : -white;
}
 
.spinner>*.increment-arrow-button{
    -fx-background-color : -gray;
}

.spinner>*.decrement-arrow-button{
    -fx-background-color : -gray;
}

/*
 * **********
 * Table
 * **********
 * 
 
.table-view:row-selection{
    -fx-background-color : -white;
}

.table-view:row-selection>*.column-header-background{
    -fx-background-color : -white;
}

.table-view>*.column-resize-line{
    -fx-background-color : -white;
}

.table-view>*.column-header-background>*.nested-column-header>*.table-column{
    -fx-background-color : -white, -white;
}

.table-view>*.column-header-background>*.filler{
    -fx-background-color : -white, -gray;
}

.table-view>*.column-header-background>*.show-hide-columns-button{
    -fx-background-color : -white;
}

 */


/*
 * ************
 * Table View
 * ************
 *
 */

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#ffffff 0%, #efefef 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #ffffff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

/*
 * **********
 * Combo Box
 * **********
 */

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #ffffff ;
    -fx-text-fill: -black ;
    -fx-font-family: "Calibri" ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: -black ;
    -fx-background-color: #ffffff ;
}


.default-color0.chart-bar { -fx-bar-fill: #ff0000; }
.default-color1.chart-bar { -fx-bar-fill: #ffff00; }
.default-color2.chart-bar { -fx-bar-fill: #00ff00; }