/*
*		FLATBEE by KarlTheBee´
* An javafx css style for a smooth & flat user interface
* Website : github.com/karlthebee/flatbee
* Mail    : karlthebee@gmail.com
*
*	Version 1.0.0
*
* The license is pretty much a CC-BY-NC 4.0 license (https://creativecommons.org/licenses/by-nc/4.0/).
* In simple (non legal) english : 
* you can modify and distribute it, ship in in your application, 
* but not use/sell it commercially.
* And you have to give credits, 
* like "FlatBee theme by karlthebee (https://github.com/karlthebee/flatbee)"
*/


* {
	-color : #efefef;
	-white : #efefef;
	-gray : #dfdfdf;
	-darkGray : derive(-gray,-25%);
	-blacks : #444444dd;
	-abort : #e74c3c;
	-black : #000000
/*
	-yellow : #ffff00
	-green : #00ffff
*/

}

.root{
	-fx-background-color : -black;
	-fx-fill-width : true;
	-fx-color : -color;
	-fx-fill-height : true;
	-fx-font-family: 'Calibri';
	/* remove the ugly focus shade */
	-fx-focus-color : transparent;
	-fx-faint-focus-color: transparent;
}

/*
 * **********
 * LABELS
 * **********
*/
.label{
	 -fx-text-fill : #8e8e8e;
 }

/*
 * **********
 * BUTTONS
 * **********
 * 
 */
.button {
    
    
	-fx-background-color : #8e8e8e;
}
.button:default{
	-fx-background-color : -color;
}
.button:cancel{
	-fx-background-color : -abort;
}

.button:focused {
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -darkGray;
}
.button:hover {
    -fx-color: -darkGray;
	-fx-inner-border : -darkGray;
	-fx-body-color : -darkGray;
}

.button:armed {
    -fx-color: -white;
}


.toggle-button{
	-fx-background-color : -gray;
}

.toggle-button:selected{
	-fx-background-color : -darkGray;
}

.menu-button{
	-fx-background-color : -gray;
}

.split-menu-button{
	-fx-background-color : -gray;
}

.split-menu-button>*.label{
	-fx-background-color : -gray;
}

.split-menu-button>*.arrow-button{
	-fx-background-color : -gray;
}


/*
 * **********
 * MENU
 * **********
 * 
 */
.menu-bar{
	-fx-background-color : -black;
}
 

/*
 * **********
 * Checkbox
 * **********
 * 
 */
 .check-box>*.box{
	 -fx-background-color : -gray;
 }
 
 .check-box:selected>*.box>*.mark{
	 -fx-background-color : -black;
 }
.check-box:indeterminate>*.box>*.mark{
	 -fx-background-color : -black;
 }
 
 
 /*
 * **********
 * RADIO BUTTONS
 * **********
 * 
 */
 .radio-button>*.radio{
	-fx-background-color : -gray; 
 }
 
 .radio-button:selected>*.radio>*.dot{
	 -fx-background-color : -black;
 }
 
/*
 * **********
 * Text fields / inputs
 * **********
 * 
 */
.text-field{
	-fx-highlight-fill : -color;
	-fx-highlight-text-fill : -white;
}

.text-area{
	-fx-highlight-fill : -color;
	-fx-highlight-text-fill : -white;
}
 
.spinner>*.increment-arrow-button{
	-fx-background-color : -gray;
}

.spinner>*.decrement-arrow-button{
	-fx-background-color : -gray;
}
/*
 * **********
 * Titled Pane
 * **********
 * 
 */

.first-titled-pane:expanded>*.title{
	-fx-background-color : -color;
}

.titled-pane:expanded>*.title{
	-fx-background-color : -color;
}

.titled-pane:collapsed>*.title{
	-fx-background-color : -gray;
}

.titled-pane*>*.title>*.arrow-button>*.arrow{
	-fx-background-color : -black;
}

/*
 * **********
 * Table
 * **********
 * 
 
.table-view:row-selection{
	-fx-background-color : -gray;
}

.table-view:row-selection>*.column-header-background{
	-fx-background-color : -white;
}

.table-view>*.column-resize-line{
	-fx-background-color : -black;
}

.table-view>*.column-header-background>*.nested-column-header>*.table-column{
	-fx-background-color : -darkGray, -white;
}

.table-view>*.column-header-background>*.filler{
	-fx-background-color : -darkGray, -gray;
}

.table-view>*.column-header-background>*.show-hide-columns-button{
	-fx-background-color : -gray;
}


.tree-table-view:row-selection{
	-fx-background-color : -gray;
}

.tree-table-view:row-selection>*.column-header-background{
	-fx-background-color : -white;
}

.tree-table-view>*.column-resize-line{
	-fx-background-color : -black;
}

.tree-table-view>*.column-header-background>*.nested-column-header>*.table-column{
	-fx-background-color : -darkGray, -white;
}

.tree-table-view>*.column-header-background>*.filler{
	-fx-background-color : -darkGray, -gray;
}

.tree-table-view>*.column-header-background>*.show-hide-columns-button{
	-fx-background-color : -gray;
}
 */

/*
 * **********
 * Color picker
 * **********
 * 
 */
.color-picker{
	-fx-background-color : -gray;
}

/*
 * **********
 * Scroll pane
 * **********
 * 
 */
.scroll-pane>*.scroll-bar{
	-fx-background-color : -gray;
}

.scroll-pane>*.scroll-bar>*.thumb{
	-fx-background-color : -color;
}

/*
 * ************
 * Table View
 * ************
 *
 */

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */  
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*

/*
 * **********
 * Combo Box
 * **********
 */

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #000000 ;
    -fx-text-fill: -white ;
    -fx-font-family: "Calibri" ;
}
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: #ffff00 ;
    -fx-background-color: #00ffff ;
}

