/*
*		FLATBEE by KarlTheBee´
* An javafx css style for a smooth & flat user interface
* Website : github.com/karlthebee/flatbee
* Mail    : karlthebee@gmail.com
*
*	Version 1.0.0
*
* The license is pretty much a CC-BY-NC 4.0 license (https://creativecommons.org/licenses/by-nc/4.0/).
* In simple (non legal) english : 
* you can modify and distribute it, ship in in your application, 
* but not use/sell it commercially.
* And you have to give credits, 
* like "FlatBee theme by karlthebee (https://github.com/karlthebee/flatbee)"
*/


* {
	-color : #efefef;
	-white : #efefef;
	-gray : #dfdfdf;
	-darkGray : derive(-gray,-25%);
	-black : #444444dd;
	-abort : #e74c3c;
}

.root{
	-fx-background-color : ffffff;
	-fx-fill-width : true;
	-fx-color : -color;
	-fx-fill-height : true;
	-fx-font-family: 'Segoe UI';
	/* remove the ugly focus shade */
	-fx-focus-color : transparent;
	-fx-faint-focus-color: transparent;
}

/*
 * **********
 * LABELS
 * **********
*/
.label{
	 -fx-text-fill : -black;
 }

/*
 * **********
 * BUTTONS
 * **********
 * 
 */
.button {
	-fx-background-color : -gray,-gray,-gray,-gray;
	
.button:default{
	-fx-background-color : -color;
}
.button:cancel{
	-fx-background-color : -abort;
}

.button:focused {
	-fx-color : -darkGray;
   -fx-background-color : -darkGray;
   -fx-focus-color : -darkGray;
}
.button:hover {
    -fx-color: -darkGray;
	-fx-inner-border : -darkGray;
	-fx-body-color : -darkGray;
}

.button:armed {
    -fx-color: -white;
}


.toggle-button{
	-fx-background-color : -gray;
}

.toggle-button:selected{
	-fx-background-color : -darkGray;
}

.menu-button{
	-fx-background-color : -gray;
}

.split-menu-button{
	-fx-background-color : -gray;
}

.split-menu-button>*.label{
	-fx-background-color : -gray;
}

.split-menu-button>*.arrow-button{
	-fx-background-color : -gray;
}


/*
 * **********
 * MENU
 * **********
 * 
 */
.menu-bar{
	-fx-background-color : -gray;
}
 

/*
 * **********
 * Checkbox
 * **********
 * 
 */
 .check-box>*.box{
	 -fx-background-color : -gray;
 }
 
 .check-box:selected>*.box>*.mark{
	 -fx-background-color : -black;
 }
.check-box:indeterminate>*.box>*.mark{
	 -fx-background-color : -black;
 }
 
 
 /*
 * **********
 * RADIO BUTTONS
 * **********
 * 
 */
 .radio-button>*.radio{
	-fx-background-color : -gray; 
 }
 
 .radio-button:selected>*.radio>*.dot{
	 -fx-background-color : -black;
 }
 
/*
 * **********
 * Text fields / inputs
 * **********
 * 
 */
.text-field{
	-fx-highlight-fill : -color;
	-fx-highlight-text-fill : -white;
}

.text-area{
	-fx-highlight-fill : -color;
	-fx-highlight-text-fill : -white;
}
 
.spinner>*.increment-arrow-button{
	-fx-background-color : -gray;
}

.spinner>*.decrement-arrow-button{
	-fx-background-color : -gray;
}
/*
 * **********
 * Titled Pane
 * **********
 * 
 */

.first-titled-pane:expanded>*.title{
	-fx-background-color : -color;
}

.titled-pane:expanded>*.title{
	-fx-background-color : -color;
}

.titled-pane:collapsed>*.title{
	-fx-background-color : -gray;
}

.titled-pane*>*.title>*.arrow-button>*.arrow{
	-fx-background-color : -black;
}

/*
 * **********
 * Table
 * **********
 * 
 */
.table-view:row-selection{
	-fx-background-color : -gray;
}

.table-view:row-selection>*.column-header-background{
	-fx-background-color : -white;
}

.table-view>*.column-resize-line{
	-fx-background-color : -black;
}

.table-view>*.column-header-background>*.nested-column-header>*.table-column{
	-fx-background-color : -darkGray, -white;
}

.table-view>*.column-header-background>*.filler{
	-fx-background-color : -darkGray, -gray;
}

.table-view>*.column-header-background>*.show-hide-columns-button{
	-fx-background-color : -gray;
}


.tree-table-view:row-selection{
	-fx-background-color : -gray;
}

.tree-table-view:row-selection>*.column-header-background{
	-fx-background-color : -white;
}

.tree-table-view>*.column-resize-line{
	-fx-background-color : -black;
}

.tree-table-view>*.column-header-background>*.nested-column-header>*.table-column{
	-fx-background-color : -darkGray, -white;
}

.tree-table-view>*.column-header-background>*.filler{
	-fx-background-color : -darkGray, -gray;
}

.tree-table-view>*.column-header-background>*.show-hide-columns-button{
	-fx-background-color : -gray;
}


/*
 * **********
 * Color picker
 * **********
 * 
 */
.color-picker{
	-fx-background-color : -gray;
}

/*
 * **********f
 * Scroll pane
 * **********
 * 
 */
.scroll-pane>*.scroll-bar{
	-fx-background-color : -gray;
}

.scroll-pane>*.scroll-bar>*.thumb{
	-fx-background-color : -color;
}


